@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.application {
  color: vars.$white;
  text-align: center;
  background: url('@/img/others/application-poster.jpg') no-repeat
    center / cover;

  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.clip(24, 32);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    max-width: 670px;
    font-size: fn.clip(36, 54);
    line-height: fn.clip(44, 60);
  }
}
