@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.feedback {
  color: vars.$white;
  background: vars.$dark;

  &__container {
    display: flex;
    gap: 47px;
    align-items: flex-start;
  }

  &__content {
    width: 51.32%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__desc {
    max-width: 600px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
