@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.principles {
  &__title {
    max-width: 745px;
  }

  &__list {
    counter-reset: counter;
    @media (max-width: vars.$lg) {
      display: none;
    }

    &-mobile {
      counter-reset: counter;
      @media (min-width: vars.$min-lg) {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    padding: fn.clip(32, 60) 0;
    border-top: 1px solid vars.$divider-on-light-bg;
    border-bottom: 1px solid vars.$divider-on-light-bg;

    @media (max-width: vars.$lg) {
      flex-direction: column;
    }
  }

  &__head {
    display: flex;
    flex: none;
    flex-direction: column;
    gap: 32px;
    width: 46.32%;

    @media (max-width: vars.$lg) {
      width: 100%;
    }

    &-main {
      display: flex;
      gap: fn.clip(24, 90);
      align-items: flex-start;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: fn.clip(32, 90);
    }

    &.is-active {
      .principles__body-head {
        display: none;
      }
    }
  }

  &__num {
    @include mix.h3;

    min-width: fn.clip(24, 40);
    color: vars.$text-gray;

    &::before {
      content: counter(counter);
      counter-increment: counter;
    }
  }

  &__name {
    @include mix.h3;
  }

  &__icon {
    &-wrap {
      margin-left: 40px;
      @media (max-width: vars.$xl) {
        margin-left: 0;
      }
    }
    @media (max-width: vars.$sm) {
      max-height: 200px;
    }
  }

  &__body {
    padding-right: fn.clip(32, 70);

    &.is-active {
      margin-top: 32px;
    }
  }

  &__desc-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

    &-head {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__acc-btn {
    float: right;
  }
}
