@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.reviews {
  &__slider-block {
    @media (max-width: vars.$md) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    gap: fn.clip(22, 40);

    &-btn-block {
      display: flex;
      gap: 12px;
      @media (max-width: vars.$md) {
        order: 2;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: fn.clip(22, 30);
  }

  &__quote {
    @include mix.h3;

    &_gray {
      color: vars.$gray-text;
    }
  }

  &__person {
    display: flex;
    gap: 15px;
    align-items: center;

    &-text-block {
      display: flex;
      flex-direction: column;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;

    @media (max-width: vars.$md) {
      width: 60px;
      height: 60px;
    }
  }

  &__name {
    @include mix.p16-bold;
  }

  &__job {
    @include mix.p16;
  }
}
