@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.streamlining {
  &__slider-block {
    @media (max-width: vars.$md) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  &__slider {
    counter-reset: accCounter;

    &-btn-block {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin-top: 32px;

      @media (min-width: vars.$lg) {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fn.clip(328, 400);
    height: fn.clip(328, 400);
    padding: fn.clip(48, 64) fn.clip(29, 50);
    overflow: hidden;
    text-align: center;
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 1px + 40px);
      height: calc(100% - 1px + 40px);
      border: 20px dashed vars.$divider-on-light-bg;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: '';
    }

    &::before {
      position: absolute;
      top: fn.clip(24, 40);
      left: 50%;
      color: vars.$red;
      transform: translateX(-50%);
      content: counter(accCounter, decimal-leading-zero);
      counter-increment: accCounter;
      @include mix.p16;
    }
  }

  &__name {
    @media (max-width: vars.$sm) {
      @include mix.p18;
    }
  }
}
