include ../../partials/buttons
include ../../partials/poster
include ../../partials/article
include ../../partials/offer 

mixin hero-case-item
  section.hero.hero_item
    .hero__container.container
      .hero__text-block
        .hero__title-block 
          +link-arrow({
            href: 'case.html',
            isLeft: true,
            isDark: false,
            isArrow: true
          },)
          h1.hero__title.hero__title_small SEO-поддержка и бизнес-консультация ТОИР-М
        .hero__desc Задачей было получать от 30 обращений в месяц от новых клиентов
        .hero__btn-block
          .btn.btn_dark +150% заявок
          .btn.btn_green +500% посетителей
      +poster({
        src: '@/img/cases/item/poster.jpg',
        srcMobile: '@/img/cases/item/poster-mobile.jpg',
      })
      .hero__content
        +article-2([
          {
            bigTitle: 'О проекте',
            items: [
              {
                middleTitle: 'Клиент',
                descList: [
                  'Компания «Ариэль Металл» — один из 10 крупнейших поставщиков черного металлопроката и труб в РФ с 30 летней историей, складами в Москве, Санкт-Петербурге, Самаре и Батайске.',
                ],
              },
              {
                middleTitle: 'Цель и задачи',
                descList: [
                  'Получать от 30 обращений в месяц от новых клиентов — заводов и промышленных компаний с объемом потребления от 50 тонн в год.',
                ],
              },
            ],
          },
          {
            bigTitle: 'Результат',
            list: [
              'Доработанный сайт стал удобнее для продвижения и понятнее для пользователя.',
              'За 4 месяца продвижения получили 484 обращения по 1559 рублей с учётом агентского вознаграждения.',
              'Доработанный сайт стал удобнее для продвижения и понятнее для пользователя.',
            ],
          },
          {
            bigTitle: 'Сложности и особенности проекта',
            items: [
              {
                smallTitle: 'У заказчика был красивый сайт с техническими проблемами и проблемами usability:',
                descList: [
                  'В коде сайта «переломана» логика. В результате, решение любой задачи занимает в 2-3 раза больше времени программиста и контент-менеджера. А посетителям сложно понять куда они попали и какие действия требуется совершить для оформления заказа.',
                ],
              },
              {
                smallTitle: 'До начала работ у сайта конверсия была близка к нулю.',
                descList: [
                  'При этом, у заказчика отсутствовала аналитика и почту никто не отслеживал, а ведь для В2В конверсии через email сотавляют до 70%.',
                ],
              },
            ],
          },
          {
            bigTitle: 'Разработали стратегию продвижения',
            middleTitle: 'Оценили текущую ситуацию и выявили проблемы:',
            items: [
              {
                smallTitle: 'Падает посещаемость сайта из поисковой выдачи.',
                descList: [
                  'Средняя посещаемость за 4-й квартал 2021 г. — 2370 визитов. Пользователи приходят только по брендовому трафику. Это пользователи, которые уже знают компанию.',
                  'Рекламные кампании ведутся нерегулярно.',
                ],
                imgBlock: {
                  src: '@/img/cases/article/article-1.jpg',
                  srcMobile: '@/img/cases/article/article-mobile-1.jpg',
                }
              },
              {
                smallTitle: 'Низкая конверсия сайта',
                descNewLine: [
                  'Конверсия в заявку — 0,04%;',
                  'Конверсия в email — 0,19%.'
                ],
                imgBlock: {
                  src: '@/img/cases/article/article-2.jpg',
                  srcMobile: '@/img/cases/article/article-mobile-2.jpg',
                }
              },
            ],
          },
        ])
        +offer('hero__offer hero__offer_none')
