include ../../partials/info

mixin hero-services
  section.hero-services.hero
    .hero-services__container.hero__container.container
      h1.hero-services__title.hero__title Услуги
      ul.hero-services__list
        +info({
          top: false,
          contentOrder: false,
          contentOrderMobile: true,
          src: '@/img/services/page/preview-1.jpg',
          title: 'Личная консультация',
          desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
          list: [
            'Пункты – это всего лишь пункты и точка.',
            'Заработок не показатель, деньги – показатель.',
            'Умные мысли часто преследовали его, но он был быстрее.',
            'Давайте не будем уничать в этом дизайне.',
          ],
          link: {
            href: 'service-item.html',
            text: 'Подробнее',
          },
        })
        +info({
          top: false,
          contentOrder: true,
          contentOrderMobile: true,
          src: '@/img/services/page/preview-2.jpg',
          title: 'Анализ бизнеса',
          desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
          list: [
            'Пункты – это всего лишь пункты и точка.',
            'Заработок не показатель, деньги – показатель.',
            'Умные мысли часто преследовали его, но он был быстрее.',
            'Давайте не будем уничать в этом дизайне.',
            ],
          link: {
            href: 'service-item.html',
            text: 'Подробнее',
          },
        })
        +info({
          top: false,
          contentOrder: false,
          contentOrderMobile: true,
          src: '@/img/services/page/preview-3.jpg',
          title: 'Live-семинары',
          desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
          list: [
            'Пункты – это всего лишь пункты и точка.',
            'Заработок не показатель, деньги – показатель.',
            'Умные мысли часто преследовали его, но он был быстрее.',
            'Давайте не будем уничать в этом дизайне.',
            ],
          link: {
            href: 'service-item.html',
            text: 'Подробнее',
          },
        })
        +info({
          top: false,
          contentOrder: true,
          contentOrderMobile: true,
          src: '@/img/services/page/preview-4.jpg',
          title: 'Спринты',
          desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
          list: [
            'Пункты – это всего лишь пункты и точка.',
            'Заработок не показатель, деньги – показатель.',
            'Умные мысли часто преследовали его, но он был быстрее.',
            'Давайте не будем уничать в этом дизайне.',
            ],
          link: {
            href: 'service-item.html',
            text: 'Подробнее',
          },
        })
        +info({
          top: false,
          contentOrder: false,
          contentOrderMobile: true,
          src: '@/img/services/page/preview-5.jpg',
          title: 'Проверка резюме',
          desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
          list: [
            'Пункты – это всего лишь пункты и точка.',
            'Заработок не показатель, деньги – показатель.',
            'Умные мысли часто преследовали его, но он был быстрее.',
            'Давайте не будем уничать в этом дизайне.',
            ],
          link: {
            href: 'service-item.html',
            text: 'Подробнее',
          },
      })