mixin hero-home
  section.hero-home
    .hero-home__container.container 
      .hero-home__text-block
        h1.hero-home__title AKABUKI стимулирует преобразования и строит предприятия
        p.hero-home__desc-mobile Улучшаю продукты самого крупного банка России — Сбера: от создания баннеров до разработки сервисов. 
        button.hero-home__btn.btn.btn_circle(type="button") Написать
      .hero-home__content
        p.hero-home__desc Улучшаю продукты самого крупного банка России — Сбера: от создания баннеров до разработки сервисов. 
        .hero-home__poster
          picture.hero-home__img
            source(media="(max-width: 767.98px)", srcset="@/img/components/heroes/home/poster-mobile.jpg")
            img.hero-home__img(src="@/img/components/heroes/home/poster.jpg", alt="")
    
