include ../../partials/buttons
include ../../partials/poster
include ../../partials/article
include ../../partials/offer

mixin hero-material-item
  section.hero.hero_item
    .hero__container.container
      .hero__text-block
        .hero__title-block 
          +link-arrow({
            href: 'materials.html',
            isLeft: true,
            isDark: false,
            isArrow: true
          },)
          h1.hero__title.hero__title_small 5 причин инвестировать в недвижимость в Германии
        .hero__desc-block.desc-block
          p.hero__desc В статье про поиск жилья, я уже писала, что 57% жителей всей Германии проживает в съёмных квартирах. Причина проста: своё жильё (в собственность) в Германии стоит очень дорого. Например, квадратный метр в Гамбурге при покупке своей квартиры стоит в среднем 5.750 €/м². И это только средний показатель. Есть квартиры, квадратный метр в которых стоит более 11000 евро.
          p.hero__desc Это, конечно, печально. Многие жители Германии отчаялись и даже не пытаются купить себе недвижимость в собственность. Но есть и те, кто нашёл выход из сложившейся ситуации. Грамотные люди понимают, что надо покупать не жильё для жизни, а недвижимость (квартиру или дом) для инвестиций.
      +poster({
        src: '@/img/materials/item/poster.jpg',
        srcMobile: '@/img/materials/item/poster-mobile.jpg',
      })
      .hero__content
        +article([
          {
            bigTitle: 'Зачем нужно покупать квартиру в Германии? 5 основных причин',
            descList: [
              'Причин для покупки квартиры, на самом деле, несколько. Рассмотрим 5 первостепенных причин для покупки квартиры в Германии:',
            ],
          },
          {
            middleTitle: '1. Инфляция',
            descList: [
              'Многие знают, что такое инфляция. Если коротко: это когда ваши деньги каждый день теряют ценность. То есть получая зарплату в конце месяца, вы становитесь беднее, ваша покупательская способность падает. Единственная возможность избежать обесценивания денег — это вложить деньги в какой-то актив. В данном случае в недвижимость.',
            ],
          },
          {
            imgBlock: {
              src: '@/img/materials/article/article-1.jpg',
              srcMobile: '@/img/materials/article/article-mobile-1.jpg',
              figcaption: 'Photo by Ibrahim Boran on Unsplash',
            },
          },
          {
            middleTitle: '2. Пассивный доход',
            descList: [
              'Сдавая свои апартаменты или квартиру в аренду, вы получаете пассивный доход. У вас есть возможность легко и без проблем зарабатывать на отпуск, образование для детей и т.д.',
            ],
          },
          {
            middleTitle: '3. Стабильность',
            descList: [
              'Недвижимость постоянно растёт в цене. Если посмотреть на графики, то цены на жильё в Германии не падают, а растут каждый год в среднем на 7% — 10%. Это значит, что вы зарабатываете не только на сдаче инвестиционного жилья в аренду, но и на стоимости самого жилья. То есть ваше имущество стабильно растёт в цене.',
            ],
          },
          {
            imgBlock: {
              src: '@/img/materials/article/article-2.jpg',
              srcMobile: '@/img/materials/article/article-mobile-2.jpg',
              figcaption: 'Фото: empirica; Value AG; statista.com'
            },
          },
          {
            middleTitle: '4. Удобство',
            descList: [
              'Квартиры под инвестиции обычно сдаются через управляющую компанию. Это значит, что всё сделают за вас. Вам не надо искать арендатора, не надо решать никакие вопросы. Всем занимается управляющая компания. Вы же раз в месяц будете получать на свой счёт деньги за аренду квартиры.',
            ],
          },
          {
            middleTitle: '5. Пенсия',
            descList: [
              'Многие из нас понимают, что на государственную пенсию рассчитывать не стоит. Покупка инвестиционного жилья решает эту проблему. Дополнительный доход, возможность в крайнем случае продать жильё и жить на эти деньги, или возможность переехать в эту квартиру на пенсии. Вариантов много, главное, что они есть.',
            ],
          },
          {
            imgBlock: {
              src: '@/img/materials/article/article-3.jpg',
              srcMobile: '@/img/materials/article/article-mobile-3.jpg',
              figcaption: 'Photo by Marc Najera on Unsplash',
            },
          },
          {
            middleTitle: 'Заключение',
            descList: [
              'Инвестиционное жилье – это круто и полезно, старость будет все равно бедной, главное держаться. А про остальные менее значимые причины для покупки инвестиционного жилья я расскажу в следующей статье.',
            ],
          },
        ])
        +offer