mixin hero-home
  section.hero-home
    .hero-home__container.container 
      h1.hero-home__title AKABUKI стимулирует преобразования и строит предприятия
      .hero-home__content
        p.hero-home__desc Улучшаю продукты самого крупного банка России — Сбера: от создания баннеров до разработки сервисов. 
        button.hero-home__btn.btn.btn_circle(type="button") Написать
        .hero-home__poster
          img.hero-home__img(src="@/img/components/heroes/home/poster.jpg", alt="")
    
