include ../../partials/poster
include ../../partials/info

mixin hero-about
  section.hero-about.hero
    .hero-about__container.hero__container.container 
      .hero-about__text-block.hero__text-block
        h1.hero-about__title.hero__title Обо мне
        p.hero-about__desc.hero__desc Бизнес-консультант — часто становится «спасательным кругом» для предпринимателя малого или среднего бизнеса
      +poster({
        src: '@/img/heroes/about/poster.jpg',
        srcMobile: '@/img/heroes/about/poster-mobile.jpg',
      })
      +info({
        top: true,
        src: '@/img/heroes/about/info.jpg',
        title: 'Моя миссия - вернуть веру в индивидуальных экспертов.',
        desc: 'За последние пару лет поддержки мы создали и обновили более 200 мультиязычных сервисов и страниц. При этом соблюдали обновленный брендбук и выбирали лучшие решения, которые упрощали жизнь пользователей.',
        list: [
          'Пункты – это всего лишь пункты и точка.',
          'Заработок не показатель, деньги – показатель.',
          'Умные мысли часто преследовали его, но он был быстрее.',
          'Давайте не будем уничать в этом дизайне.'
        ]
      })
