include ../../partials/buttons
include ../../partials/poster
include ../../partials/info

mixin hero-service-item
  section.hero.hero_item
    .hero__container.container
      .block.hero__text-block
        .hero__title-block 
          +link-arrow({
            href: 'services.html',
            isLeft: true,
            isDark: false,
            isArrow: true
          },)
          h1.hero__title.hero__title_small Анализ бизнеса
        p.hero__desc Бизнес-консультант — часто становится «спасательным кругом» для предпринимателя малого или среднего бизнеса
      +poster({
        srcMobile: '@/img/services/item/poster-mobile-1.jpg',
        src: '@/img/services/item/poster-1.jpg',
      })
      +info({
        top: true,
        src: '@/img/services/item/preview.jpg',
        title: 'Моя миссия - вернуть веру в индивидуальных экспертов.',
        desc: 'За последние пару лет поддержки мы создали и обновили более 200 мультиязычных сервисов и страниц. При этом соблюдали обновленный брендбук и выбирали лучшие решения, которые упрощали жизнь пользователей.',
        list: [
          'Пункты – это всего лишь пункты и точка.',
          'Заработок не показатель, деньги – показатель.',
          'Умные мысли часто преследовали его, но он был быстрее.',
          'Давайте не будем уничать в этом дизайне.'
        ]
      })
      