include ../../partials/normal-list

mixin hero-contacts
  section.hero-contacts.hero
    .hero-contacts__container.hero__container.container
      h1.hero-contacts__title.hero__title Контакты
      .hero-contacts__info
        .hero-contacts__info-block
          span.hero-contacts__info-name Связаться в Telegram
          a.hero-contacts__info-link(href="https://t.me/anastasia_kabuki") @anastasia_kabuki
        .hero-contacts__info-block
          span.hero-contacts__info-name Написать на почту
          a.hero-contacts__info-link(href="hello@akabuki.pro") hello@akabuki.pro
        .hero-contacts__info-block
          span.hero-contacts__info-name Позвонить на домофон
          a.hero-contacts__info-link(href="tel:+4915124503973") +49 1512 450-39-73
        
      