@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.info {
  display: flex;
  gap: 48px 75px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: vars.$xl) {
    flex-direction: column;
    justify-content: unset;
  }

  &_top {
    align-items: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: fn.clip(32, 60);
    @media (max-width: vars.$xl) {
      width: 100%;
    }

    &-order {
      order: 2;

      &_mobile {
        @media (max-width: vars.$xl) {
          order: 2;
        }
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.clip(24, 32);
    max-width: 670px;
    @media (max-width: vars.$xl) {
      max-width: unset;
    }
  }

  &__title {
    @include mix.h2;
    @media (max-width: vars.$md) {
      @include mix.h3-desktop;
    }
  }

  &__desc {
    max-width: 600px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: flex-start;

    &::before {
      flex: none;
      width: 8px;
      height: 8px;
      margin-top: 9px;
      background: vars.$red;
      border-radius: 50%;
      content: '';
    }
  }

  &__img-block {
    position: relative;
    flex-grow: 1;
    @media (max-width: vars.$xl) {
      align-self: flex-start;
    }
  }

  &__img {
    min-height: 375px;
  }

  &__img-info {
    position: absolute;
    bottom: fn.clip(12, 20);
    left: fn.clip(12, 20);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
