@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

textarea {
  resize: vertical;
}

.input {
  width: 100%;
  padding: 0;
  padding-bottom: 23px;
  color: vars.$dark;
  vertical-align: middle;
  border-bottom: 1px solid vars.$divider-on-light-bg;
  @include mix.p20;

  &::placeholder {
    color: rgba(vars.$dark, 0.5);
  }

  &_dark {
    color: vars.$white;
    border-color: vars.$divider-on-dark-bg;

    &::placeholder {
      color: rgba(vars.$white, 0.3);
    }
  }
}

.checkbox {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  color: vars.$dark;
  @include mix.p16;

  &_dark {
    color: vars.$white;

    .checkbox {
      &__custom {
        border: 1px solid vars.$divider-on-dark-bg;

        &_active {
          color: vars.$divider-on-dark-bg;
        }
      }
    }
  }

  &__flag {
    &:checked {
      & + .checkbox__custom {
        .checkbox__custom_active {
          opacity: 1;
        }
      }
    }
  }

  &__custom {
    position: relative;
    flex: none;
    width: 22px;
    height: 22px;
    border: 1px solid vars.$divider-on-light-bg;

    &_active {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 24px;
      height: 24px;
      color: vars.$divider-on-light-bg;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      content: '';
    }
  }

  a,
  span {
    display: inline;
    text-decoration: underline;
  }
}

.pick {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: vars.$dark;

  &_dark {
    color: vars.$white;

    .pick {
      &__custom {
        border-color: vars.$white;
      }

      &__flag:checked + .pick__custom {
        color: vars.$dark;
        background: vars.$white;
      }
    }
  }

  &__text {
    color: vars.$gray-text;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    @include mix.p16;
  }

  &__radio {
    cursor: pointer;
  }

  &__custom {
    display: inline-block;
    padding: 10px 14px;
    font-family: Inter, sans-serif;
    border: 1px solid vars.$dark;
    border-radius: 46px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  &__flag {
    flex: none;

    &:checked {
      & + .pick__custom {
        color: vars.$white;
        background: vars.$dark;
      }
    }
  }
}
