@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.nav {
  @include mix.p16;

  &_row {
    .nav {
      &__list {
        display: flex;
        gap: 32px;
        align-items: center;
      }
    }
  }

  &_column {
    .nav {
      &__list {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(auto-fill, minmax(24px, 1fr));
        gap: 12px 60px;
        height: 204px;
      }
    }
  }
}
