@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.poster {
  margin-right: calc(-1 * fn.free-place());
  margin-left: calc(-1 * fn.free-place());

  &__img {
    width: 100%;
  }
}
