@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.hero-about {
  padding-top: fn.clip(60, 80);

  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.clip(60, 100)
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.clip(32, 60)
  }

  &__title {
    @include mix.h1;
  }

  &__desc {
    @include mix.p24;

    max-width: 670px;
  }

  &__img-block {
    margin-right: calc(-1 * fn.free-place());
    margin-left: calc(-1 * fn.free-place());
  }

  &__img {
    width: 100%;
  }
}
