extends ../layouts/main

block vars
  - const title = 'Обо мне';
  - const pageName = 'about-page';

block content
  include ../components/heroes/hero-about
  include ../components/principles
  include ../components/application
  include ../components/reviews
  include ../components/feedback
  include ../components/blog

  +hero-about
  +principles([
    {
      name: 'Доверие',
      src: '@/img/principles/principle-1.svg',
      descList: [
        'Если разобраться, то с доверием все на самом деле предельно рационально. В этом вопросе не так много идеализма, как может показаться.',
        'Необходимость проявлять доверие базируется на моей собственной оценке соотношения затраченных усилий и получаемых выгод (другими словами, costs/benefits analysis).',
      ]
    },
    {
      name: 'Честность',
      src: '@/img/principles/principle-2.svg',
      descList: [
        'Это очень комплексный, но очень важный принцип. Вкратце, его можно сформулировать просто как “не обманывать”.',
        'Здесь, помимо того, что “обманывать плохо” (это правда), опять же, все достаточно рационально – обманывая, вы часто получаете краткосрочно выгодный вам результат, но создаёте долгосрочные репутационные, а иногда даже юридические риски.',
      ]
    },
    {
      name: 'Процесс имеет значение',
      src: '@/img/principles/principle-3.svg',
      descList: [
        'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.'
      ]
    },
    {
      name: 'Стараться понять мотивацию',
      src: '@/img/principles/principle-4.svg',
      descList: [
        'Очень много раз я обнаруживал себя в ситуациях, когда я ошибочно судил о поведении людей, не понимая до конца его причины. Пытаться понять – на практике один из самых сложных (лично для меня) навыков, но он очень важен.',
        'Поэтому я целенаправленно работаю над тем, чтобы глубже вникать в причины того или иного поведения людей, и пытаться лучше понять собеседника.',
      ]
    },
  ])
  +application
  +reviews
  +feedback({src: '@/img/feedback/feedback-2.jpg'})
  +blog([
    {name: 'Методология SCRUM в Битрикс24 и digital-индустрии', src:'@/img/blog/blog-1.jpg', srcMobile: '@/img/blog/blog-mobile-1.jpg', date: '21 Декабря 2022' },
    {name: 'Успей открыть свой бизнес пока другие в панике бегут с рынка', src:'@/img/blog/blog-2.jpg', srcMobile: '@/img/blog/blog-mobile-2.jpg', date: '21 Декабря 2022' },
    {name: 'Как создать наиболее кликабельный заголовок без регистрации и СМС', src:'@/img/blog/blog-3.jpg', srcMobile: '@/img/blog/blog-mobile-3.jpg', date: '2022' },
  ], 'Интервью, экспертные статьи и комментарии')