extends ../layouts/main

block vars
  - const title = 'AKABUKI';
  - const pageName = 'home-page';

block content
  include ../components/heroes/hero-home
  include ../components/services
  include ../components/streamlining
  include ../components/link-list
  include ../components/blog
  include ../components/reviews
  include ../components/feedback

  +hero-home
  +services([
    { 
      name: 'Личная консультация', 
      src: '@/img/services/comp/service-1.jpg',
      srcMobile: '@/img/services/comp/service-mobile-1.jpg'
    },
    { 
      name: 'Анализ бизнеса', 
      src: '@/img/services/comp/service-2.jpg',
      srcMobile: '@/img/services/comp/service-mobile-2.jpg'
    },
    { 
      name: 'Live-семинары', 
      src: '@/img/services/comp/service-3.jpg',
      srcMobile: '@/img/services/comp/service-mobile-3.jpg'
    },
    { 
      name: 'Спринты', src:
        '@/img/services/comp/service-4.jpg',
        srcMobile: '@/img/services/comp/service-mobile-4.jpg'
    },
    { 
      name: 'Проверка резюме', 
      src: '@/img/services/comp/service-5.jpg',
      srcMobile: '@/img/services/comp/service-mobile-5.jpg'
    },
  ], 'Услуги, которые улучшат процессы в вашем бизнесе')
  +streamlining([
    { name: 'Анализируем бизнес‑процессы клиента, которые влияют на сценарии использования продукта.', },
    { name: 'Устраняем барьеры на пути пользователя к цели и проверяем гипотезы на реальных людях с помощью eyetracking.', },
    { name: 'Оживляем прагматичные решения с помощью эмоций.', },
    { name: 'Создаем высоконагруженные масштабируемые веб‑сервисы, построенные на современных технологиях и фреймворках.', },
  ])
  +link-list(
    { 
      isDark: true, 
      title: 'Полезные материалы для бесплатного распространения',
      btn: 'Читать еще'
    }, 
    [
      { name: 'Иммиграция', desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ' },
      { name: 'Бизнес', desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ' },
      { name: 'Саморазвитие', desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ' },
      { name: 'Образование', desc: 'Мини-курсы по обучению, где вы погрузитесь в аналитику.' },
  ])
  +blog([
    {name: 'Методология SCRUM в Битрикс24 и digital-индустрии', src:'@/img/blog/blog-1.jpg', srcMobile: '@/img/blog/blog-mobile-1.jpg', date: '21 Декабря 2022' },
    {name: 'Успей открыть свой бизнес пока другие в панике бегут с рынка', src:'@/img/blog/blog-2.jpg', srcMobile: '@/img/blog/blog-mobile-2.jpg', date: '21 Декабря 2022' },
    {name: 'Как создать наиболее кликабельный заголовок без регистрации и СМС', src:'@/img/blog/blog-3.jpg', srcMobile: '@/img/blog/blog-mobile-3.jpg', date: '2022' },
  ], 'Интервью, экспертные статьи и комментарии')
  +link-list(
    { 
      isDark: false, 
      title: 'Ознакомьтесь с моими кейсами',
      btn: 'Читать еще'
    }, 
    [
      { 
        name: 'Методика «Бизнес молодости» для контекста в b2b на примере стендов для сто', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
        src: '@/img/cases/case-1-mobile.jpg'
      },
      { 
        name: 'SEO-поддержка и бизнес-консультация ТОИР-М', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
        src: '@/img/cases/case-2-mobile.jpg'
      },
      { 
        name: 'Аналитика воронок продаж бренда KFP', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
        src: '@/img/cases/case-4-mobile.jpg'
      },
      { 
        name: 'Методика «Бизнес молодости» для контекста в b2b на примере стендов для сто', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
        src: '@/img/cases/case-5-mobile.jpg'
      },
  ])
  +reviews
  +feedback({src: '@/img/feedback/feedback-1.jpg', contentBottom: true})