extends ../layouts/main

block vars
  - const title = 'Анализ бизнеса';
  - const pageName = 'service-item-page';

block content
  include ../components/heroes/hero-service-item
  include ../components/benefits
  include ../partials/poster
  include ../components/streamlining
  include ../components/link-list
  include ../components/reviews
  include ../components/feedback
  include ../components/services

  +hero-service-item
  +benefits([
    {
      name: 'Доверие',
      descList: [
        'Если разобраться, то с доверием все на самом деле предельно рационально. В этом вопросе не так много идеализма, как может показаться.',
        'Необходимость проявлять доверие базируется на моей собственной оценке соотношения затраченных усилий и получаемых выгод (другими словами, costs/benefits analysis).',
      ]
    },
    {
      name: 'Честность',
      descList: [
        'Это очень комплексный, но очень важный принцип. Вкратце, его можно сформулировать просто как “не обманывать”. ',
        'Здесь, помимо того, что “обманывать плохо” (это правда), опять же, все достаточно рационально – обманывая, вы часто получаете краткосрочно выгодный вам результат, но создаёте долгосрочные репутационные, а иногда даже юридические риски.',
      ]
    },
    {
      name: 'Процесс имеет значение',
      descList: [
        'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
      ]
    },
    {
      name: 'Стараться понять мотивацию',
      descList: [
        'Очень много раз я обнаруживал себя в ситуациях, когда я ошибочно судил о поведении людей, не понимая до конца его причины. Пытаться понять – на практике один из самых сложных (лично для меня) навыков, но он очень важен.',
        'Поэтому я целенаправленно работаю над тем, чтобы глубже вникать в причины того или иного поведения людей, и пытаться лучше понять собеседника.',
      ]
    },
    {
      name: 'Процесс имеет значение',
      descList: [
        'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
      ]
    },
    {
      name: 'Процесс имеет значение',
      descList: [
        'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
      ]
    },
  ])
  +poster({
    src: '@/img/pages/service-item.jpg',
  }, 'service-item-page__poster')
  +streamlining([
    { name: 'Анализируем бизнес‑процессы клиента, которые влияют на сценарии использования продукта.', },
    { name: 'Устраняем барьеры на пути пользователя к цели и проверяем гипотезы на реальных людях с помощью eyetracking.', },
    { name: 'Оживляем прагматичные решения с помощью эмоций.', },
    { name: 'Создаем высоконагруженные масштабируемые веб‑сервисы, построенные на современных технологиях и фреймворках.', },
  ])
  +link-list(
    { 
      isDark: false, 
      title: 'Мой опыт представлен в следующих кейсах',
      btn: 'Все кейсы'
    }, 
    [
      { 
        name: 'Методика «Бизнес молодости» для контекста в b2b на примере стендов для сто', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
      },
      { 
        name: 'SEO-поддержка и бизнес-консультация ТОИР-М', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
      },
      { 
        name: 'Аналитика воронок продаж бренда KFP', 
        info: ['+150% заявок', '+500% посетителей'], 
        desc: 'Построим математическую модель продвижения, с помощью которой спрогнозируем бюджет и прибыль. ',
      },
  ])
  +reviews
  +feedback({src: '@/img/feedback/feedback-1.jpg'})
  +services(
    [
      { 
        name: 'Личная консультация', 
        src: '@/img/services/service-1.jpg',
        srcMobile: '@/img/services/service-mobile-1.jpg'
      },
      { 
        name: 'Анализ бизнеса', 
        src: '@/img/services/service-2.jpg',
        srcMobile: '@/img/services/service-mobile-2.jpg'
      },
      { 
        name: 'Live-семинары', 
        src: '@/img/services/service-3.jpg',
        srcMobile: '@/img/services/service-mobile-3.jpg'
      },
      { 
        name: 'Спринты', src:
          '@/img/services/service-4.jpg',
          srcMobile: '@/img/services/service-mobile-4.jpg'
      },
      { 
        name: 'Проверка резюме', 
        src: '@/img/services/service-5.jpg',
        srcMobile: '@/img/services/service-mobile-5.jpg'
      },
    ], 
    'Другие услуги'
  )
