@use '../base/typography';
@use './variables' as vars;
@use './functions' as fn;

@mixin h1 {
  font-weight: 500;
  font-size: fn.clip(48, 100);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(52, 100);
}

@mixin h1-indent {
  font-weight: 500;
  font-size: fn.clip(48, 100);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(52, 100);
  text-indent: fn.clip(64, 100);
}

@mixin h2 {
  font-weight: 500;
  font-size: fn.clip(36, 40);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(40, 48);
}

@mixin h3-desktop {
  font-weight: 500;
  font-size: 32px;
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: 40px;
}

@mixin h3 {
  font-weight: 500;
  font-size: fn.clip(24, 32);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(32, 40);
}

@mixin h4 {
  font-weight: 500;
  font-size: fn.clip(20, 24);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(30, 32);
}

@mixin h5 {
  font-weight: 500;
  font-size: fn.clip(16, 20);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(24, 30);
}

@mixin p24 {
  font-weight: 400;
  font-size: fn.clip(20, 24);
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: fn.clip(30, 32);
}

@mixin p20 {
  font-weight: 400;
  font-size: 20px;
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: 30px;
}

@mixin p18 {
  font-weight: 400;
  font-size: 18px;
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: 28px;
}

@mixin p16 {
  font-weight: 400;
  font-size: 16px;
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: 24px;
}

@mixin p16-bold {
  font-weight: 500;
  font-size: 16px;
  font-family: VisbyCF, Arial, sans-serif;
  font-style: normal;
  line-height: 24px;
}
