$xxl-num: 1440;
$xl-num: 1200;
$lg-num: 992;
$md-num: 768;
$sm-num: 576;
$min: 360;
$min-xxl: $xxl-num * 1px;
$min-xl: $xl-num * 1px;
$min-lg: $lg-num * 1px;
$min-md: $md-num * 1px;
$min-sm: $sm-num * 1px;
$xxl: $min-xxl - 0.02px;
$xl: $min-xl - 0.02px;
$lg: $min-lg - 0.02px;
$md: $min-md - 0.02px;
$sm: $min-sm - 0.02px;

:root {
  --container: 1360px;
  --cont-padding: 40px;

  @media (max-width: $xxl) {
    --container: 1140px;
    --cont-padding: 30px;
  }

  @media (max-width: $xl) {
    --container: 950px;
    --cont-padding: 25px;
  }

  @media (max-width: $lg) {
    --container: 720px;
    --cont-padding: 20px;
  }

  @media (max-width: $md) {
    --container: 530px;
    --cont-padding: 16px;
  }

  @media (max-width: $sm) {
    --container: 100%;
  }
}

// Colors
$light-bg: #f4f4f4;
$divider-on-dark-bg: #4f4f4f;
$divider-on-light-bg: #e1e1e1;
$hover-cards-on-dark-bg: rgba(255, 255, 255, 6%);
$hover-cards-on-light-bg: rgba(0, 0, 0, 6%);
$gray-text: #898989;
$dark: #141414;
$white: #fff;
$red: #780121;
$green: #28a125;
$lime: #10c72d;
