mixin offer(className)
  .offer(class=className)
    .offer__text-block
      strong.offer__title Вы также можете купить дополнительные материалы
      p.offer__desc За последние пару лет поддержки мы создали и обновили более 200 мультиязычных сервисов и страниц. 
    .offer__bottom
      picture.offer__avatar-wrap
        img.offer__avatar(src="@/img/others/offer.jpg", alt="")
      button.offer__btn.btn.btn_circle(type="button" data-popup-open="contact") Купить