include ../components/header
include ../components/footer
include ../components/popup

block vars
  - const title = 'Document'
  - const lang = 'ru'
  - const pageName = 'main'


doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./assets/styles/main.css")
    script(defer src="./assets/scripts/main.js") 
    title #{title}
  body
    div(class="app " + pageName)
      +popup
      +header
      .main
        block content
      +footer
