mixin application
  section.application
    .application__container.container
      h2.application__title.title Готовы вывести бизнеc на новый уровень?
      button.application__btn.btn.btn_circle(type="button" data-popup-open="contact") Оставить заявочку
      