mixin streamlining(sliderList)
  section.streamlining.section
    .streamlining__container.container.column
      .streamlining__text-block.text-block
        h2.streamlining__title.title Как я налаживаю процесс работы с новыми клиентами
        p.streamlining__desc Верю в силу рукопожатия. Форма договоренности не имеет значения — мы выполняем свои обещания. Всегда.
      .slider-full-width.slider-full-width_right.slider-fog.slider-fog_right
        .swiper.streamlining__slider 
          ul.swiper-wrapper 
            each item in sliderList 
              li.streamlining__item.swiper-slide
                strong.strelamlining__name=item.name