@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.app {
  @include mix.p20;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: vars.$dark;
  background: vars.$white;
}

.container {
  width: 100%;
  max-width: calc(var(--container) + (var(--cont-padding) * 2));
  margin: 0 auto;
  padding-right: var(--cont-padding);
  padding-left: var(--cont-padding);
}

.section {
  padding: fn.clip(60, 100) 0;
}

.main {
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  gap: fn.clip(48, 60);
}

.title {
  @include mix.h2;

  max-width: 670px;
}

.text-block {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;

  h2 {
    max-width: 670px;
  }

  p {
    max-width: 555px;
  }
}
