@font-face {
	font-weight: 400;
	font-family: Inter;
	font-style: normal;
	src: url("@/fonts/Inter-Regular.woff2") format("woff2"), url("@/fonts/Inter-Regular.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-weight: 500;
	font-family: VisbyCF;
	font-style: normal;
	src: url("@/fonts/VisbyCF-Medium.woff2") format("woff2"), url("@/fonts/VisbyCF-Medium.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-weight: 400;
	font-family: VisbyCF;
	font-style: normal;
	src: url("@/fonts/VisbyCF-Regular.woff2") format("woff2"), url("@/fonts/VisbyCF-Regular.woff") format("woff");
	font-display: swap;
}
